@use "Navbar" as *;
@use "Footer" as *;
@use "ThemeToggle" as *;
@use 'Projects' as *;
@use 'About' as *;
@use 'Portfolio' as *;
@use 'Modal' as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');

:root{
    //Colors
    --white:#F4F4ED;
    
    --dark-white:#F5F1E3;
    --platinum:#D9D9D9;
    --grey:#9DA9A0;
    --dark-grey:#506C64;
    --light-blue:#A9BCD0;
    --blue:#7CDEDC;
    --dark-blue:#677CE7;
    --light-purple:#F6E4F6;
    --dark-purple: #533677;
    --light-pink: #F4D8CD;
    --pink:#EC5F9B;
    --dark-pink: #d25578;
    --tangerine:#F1AB86;
    --peach:#F7DBA7;
    --green:#065143;
    --dark-green:#223127;
    --black: #1d1d1f;
    //Gradients
    --gradient-purple: linear-gradient(to right, #677CE7 , #533677);
    --gradient-blue: linear-gradient(to right, #C2DFE3 , #677CE7);
    --gradient-pink: linear-gradient(to right, #f177ac , #d25578);
    --gradient-grey: linear-gradient(to right, #D9D9D9 , #9DA9A0);


    //Main
    --main-background-color: var(--gradient-pink); 
    --main-title-color: var(--dark-purple); 
    //Main_Home_Canvas
    --main-closed-laptop-color: var(--gradient-pink) ;
    --main-opened-laptop-color: var(--gradient-purple);
    --main-canvas-title-color: var(--white);
    --main-canvas-link-color: var(--white);
    //Main_NavBar
    --main-nav-color: var(--gradient-pink);
    --main-nav-link-color: var(--white);
    --main-nav-link-active-color: var(--dark-purple);
    --main-nav-link-hover-color:#C5E0D8;
    //Main_NavBar_Toogle
    --main-toggle-color: var(--gradient-purple);
    --main-switch-color: var(--light-blue);
    --main-icon-sun-color: var(--tangerine);
    --main-icon-moon-color: var(--dark-white);
    //Main_NavBar_Modal
    --main-modal-color: var(--dark-purple);
    --main-modal-hover-color: var(--dark-white);
    //Main_Footer
    --main-footer-color: var(--gradient-pink);
    //Main_Footer_Icons
    --main-footer-icons-color: var(--white);
    --main-footer-icon-hover-color: var(--dark-purple);
    //Main-Portfolio-
    --main-portfolio-color:var(--white);
    //Main-Portfolio-Carousel
    --main-card-text-color:var(--dark-white);
    --main-card-back-color:var(--gradient-purple);
    --main-card-button-color:var(--pink);
    --main-card-button-hover-color:var(--dark-purple);
    --main-carousel-controls-color:var(--dark-blue);
    --main-carousel-controls-hover-color:var(--dark-purple);
    //About
    ---main-about-text-color:var(--black);
}

.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_content {
    flex: 1;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--main-background-color);
    font-family: "Lato", sans-serif;

    .container {
    
        padding:  1rem;
        
        h1{
            color: var(--main-title-color);
            text-align: center;
            text-transform: uppercase;
        }

        @media (max-width: 479px){
            max-width: 300px;
        }

        @media (min-width: 480px) and (max-width: 767px) {
            max-width: 400px;
        }

        @media (min-width: 768px) and (max-width: 1023px){
            max-width: 600px;
        }

        @media (min-width: 1280px){
            max-width: 1200px;
        }
    }

    //STYLES FOR DARK MODE

    &.dark{
        --main-background-color: var(--black);
        --main-title-color: var(--light-blue); 

        .navbar{
            --main-nav-color: var(--black);
            --main-toggle-color: var(--pink);
            --main-switch-color: var(--dark-blue);
            --main-nav-link-hover-color:var(--light-blue);
            --main-nav-link-active-color:var(--pink);
            --main-modal-color: var(--dark-pink);
            --main-modal-hover-color: var(--light-blue);
        }

        .canvas_section {
            --main-opened-laptop-color: var(--gradient-purple);
            --main-closed-laptop-color: var(--main-background-color);
            h1{
                color: var(--white);
            }
        }

        .projects{
            --main-card-back-color:var(--gradient-grey);
            --main-card-text-color:var(--black);
        }

        .footer{
            --main-footer-color: var(--gradient-purple);
            --main-footer-icon-hover-color: var(--dark-pink);
        }

        .about{
            --main-about-text-color:var(--white);
        }
    }

}



