.navbar {
  background: var(--main-nav-color);
  padding: 1rem 2rem;

  .navbar-brand {
    color: var(--main-nav-link-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
      color: var(--main-nav-link-hover-color);
    }
  }

  .nav-link {
    color: var(--main-nav-link-color);
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: var(--main-nav-link-hover-color);
    }

    &.active {
      color: var(--main-nav-link-active-color);
      font-weight: bold;
    }
  }
}
